<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Payment</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Payment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white border-bottom shadow-sm">
            <div class="container-fluid">

  
                <div class="navbar-brand d-flex align-items-center">
                    <img src="~/favicon.png" alt="Logo" width="36" height="36" class="me-2">
                    <span class="fw-bold fs-4 text-primary">Payment</span>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted py-3">
        <div class="container text-center">
            &copy; 2025 - <strong>Payment</strong>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
